@model IEnumerable<Dengue.Models.DengueCluster>
@{
    ViewBag.Title = "Home Page";
}
@using Jmelosegui.Mvc.GoogleMap
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
<style>
    #toStyleDiv a {
        color: white;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var map;

        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(1.3000, 103.8000),
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            var georssLayer = new google.maps.KmlLayer({
                url: 'https://data.gov.sg/dataset/e7536645-6126-4358-b959-a02b22c6c473/resource/c1d04c0e-3926-40bc-8e97-2dfbb1c51c3a/download/DENGUECLUSTER.kml'
            });
            georssLayer.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        
        $(document).ready(function () {
            var regionArray = ["A"];
            var habitatArray = ["A"];
            var regionLocationArray = ["A"];
            var habitatLocationArray = ["A"];

            @*var longArray = @Html.Raw(Json.Encode(@ViewBag.Longitude));
            var latArray = @Html.Raw(Json.Encode(@ViewBag.Latitude));

            var hLongArray = @Html.Raw(Json.Encode(@ViewBag.hLongitude));
            var hLatArray = @Html.Raw(Json.Encode(@ViewBag.hLatitude));

            for(var i = 0; i < longArray.length; i++){
                var result = coordinatesToRegion(latArray[i],longArray[i]);
                var streetResult = coordinatesToName(latArray[i],longArray[i]);

                regionArray.push(result);
                regionLocationArray.push(streetResult);
            }

            for(var k = 0; k < hLongArray.length; k++){
                var result3 = coordinatesToRegion(hLatArray[k],hLongArray[k]);
                var streetResult2 = coordinatesToName(latArray[k],longArray[k]);
                
                habitatArray.push(result3);
                habitatLocationArray.push(streetResult2);
            }*@ 


            var regionAjax = function(regionArray){
                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: "StoreRegion",
                    data: { "passedRegionArray": regionArray },
                    success: function (data) { alert("SUCCESS"); }
                });
            }

            var habitatAjax = function(habitatArray){
                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: "StoreHabitat",
                    data: { "passedHabitatArray": habitatArray },
                    success: function (data) { alert("SUCCESS"); }
                });
            }

            var regionLocationAjax = function(regionLocationArray){
                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: "StoreRegionLocation",
                    data: { "passedRegionLocationNameArray": regionLocationArray },
                    success: function (data) { alert("SUCCESS"); }
                });
            }

            var habitatLocationAjax = function(habitatLocationArray){
                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: "StoreHabitatLocation",
                    data: { "passedHabitatLocationNameArray": habitatLocationArray },
                    success: function (data) { alert("SUCCESS"); }
                });
            }

            regionAjax(regionArray);
            habitatAjax(habitatArray);
            regionLocationAjax(regionLocationArray);
            habitatLocationAjax(habitatLocationArray);
        });

        function coordinatesToName(lat,lng){

            var streetName;

            var geocoder = new google.maps.Geocoder();
            var pos = new google.maps.LatLng(lat, lng);
            geocoder.geocode({ 'location': pos }, function (results, status) {
                if (results[0]) {
                    streetName = results[0].formatted_address
                }
            });
            return streetName;
        }

        function coordinatesToRegion(lat, lng) {

            var region;

            //right side of sg
            if (lng > 103.895000) {
                region = "E";
            }
            //left side of sg
            else if (lng < 103.770000) {
                region = "W";
            }
            //top part of sg
            else if (lat > 1.390000) {
                region = "N";
            }
            //bottom part of sg
            else if (lat < 1.315) {
                region = "S";
            }
            //central of sg
            else {
                region = "C";
            }
            return region;
        }
    });
</script>


<div class="row">
    <div class="col-md-9" style="padding-right:0px;">
        <div id="googleMap" style="height:330px;"></div>
    </div>
    <div class="col-md-3" style="padding-left:7px;">
        <!--CASE NOTIFIED WINDOW-->
        <div style="height:330px;">
            <div style="border-style:solid; height:165px; border-radius:8px; border: 1px solid #a09e9e; margin-bottom:1px;">
                <div style="background-color: rgb(245,248,250); height:70px; text-align:center; padding-top:16px; color: #282020;">
                    Cases reported this week as of 16/02/2016:
                </div>
                <div style="color: #2a6496; font-size:35px; text-align:center; padding-top:20px;">
                    200
                   
                </div>
                
            </div>
            <div style="border-style:solid; height:165px; border-radius:8px; border: 1px solid #a09e9e; ">
                <div style="background-color: rgb(245,248,250); height:70px; text-align:center; padding-top:16px; color: #282020;">
                    Cases reported this year as of 01/01/2016:
                </div>
                <div style="color: #2a6496; font-size:35px; text-align:center; padding-top:20px;">
                    @ViewData["noDengueCase"]
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:5px; height: 430px; ">
    <div class="col-md-9" style="height:430px; padding-right:0px;">
        <div style="border-radius:8px; border: 1px solid #a09e9e; height:100%;">

        </div>
    </div>
    <div class="col-md-3" style="height:100%; padding-left:7px;">
        <div style="border-radius:8px;  height:100%;">
            <div style="height: 125px; margin-bottom:1px; border: 1px solid #a09e9e; border-radius:8px;">
                <div style="background-color: rgb(245,248,250); height:35px; text-align:center; padding-top:8px; color: #282020;">
                    Report Case
                </div>
                <div id="toStyleDiv" style="height:150px; text-align:center; padding-top:10px; ">
                    <span>See a potential dengue habitat?</span>
                    <br />
                    <button style="margin-top:8px;width:150px;" class="btn btn-danger"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> @Html.ActionLink("Contact Us", "ContactUs")</button>
                </div>
            </div>
            <div style="border: 1px solid #a09e9e; border-radius:8px; height:185px;">
                <div style="background-color: rgb(245,248,250); height:70px; text-align:center; padding-top:8px; color: #282020;">
                    Evaluate Area
                    <p style="margin-top:5px;font-size: 11px; color: #8899a6;">Curious about the dengue condition in your area?<br> Let us check for you.</p>
                </div>
                <div>
                    @using (Html.BeginForm("EvaluateArea", "HomeController"))
                    {
                        <div class="form-group" style="margin:8px 0px 15px 25px; width:80%; text-align:center;">
                            <label for="exampleInputEmail1">Input your current area</label>
                            <input type="text" class="form-control" placeholder="Location" id="evaluateArea_Input">
                            <button style="margin-top:5px; width:150px;" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Evaluate</button>
                        </div>
                    }
                </div>
            </div>
            <div style="height:120px; margin-top:1px;">
                <a href="https://www.facebook.com/Stop.Dengue.Now" target="_blank"><img style="margin-left:1px; margin-top:0.5px; height:99%; width:100%;" src="~/Content/Images/fb_dengue.jpg" /></a>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}