@model IEnumerable<Dengue.Models.BreedingHabitat>

@{
    ViewBag.Title = "Breeding Habitat";
}

<style>
    td {
        word-wrap: break-word;
    }
</style>

<!--CONTENT GOES HERE-->
<div style="margin:0px 0px 10px 15px;">
    <div style="margin:0px 0px 15px 5px;">
        @using (Html.BeginForm())
        {
            @Html.TextBox("search", "", new { placeholder = "Enter your search here" })
            <input type="submit" name="search" value="Search" />
        }
    </div>

    <div style="overflow:auto; height:640px; margin-right:3px;">
        <table class="table" style=" width:100%; " border="1">
            <tr>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th style="text-align:center;">
                    @Html.ActionLink("Number of Cases", "Index", new { sortCases = ViewBag.PriceSortParm })

                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:10%; max-width:530px;">
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td style="width:4%; text-align:center;">
                        @Html.DisplayFor(modelItem => item.No_of_Cases)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
        
